.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}.home-container h1{
    margin-bottom: .5em;
}.moments-container{

    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}.moment{
    width: 32%;
    margin-bottom: 1em;
    text-align: center;
}.moment img{
    width: 100%;
    margin-bottom:1em ;
}
.moment h3,p{
    margin-bottom: 1em;
}.moment .date{
    font-size: .7em .6em;
    font-style: italic;
}
a{
    padding: .3em;
    color: #dec129;
}a:hover{
    background-color: #efefef;
}